@font-face {
    font-family: 'minecraft-enchantment-regular', sans-serif;
    src: url("https://raw.githubusercontent.com/christiankek/discord-css-snippets/main/EnchantmentTableFont/minecraft-enchantment.ttf") format("truetype");
    font-display: swap;
};
