@font-face {
    font-family: 'minecraft-enchantment-regular'
    font-style: normal;
    font-display: swap;
    src: url("https://raw.githubusercontent.com/christiankek/discord-css-snippets/main/EnchantmentTableFont/minecraft-enchantment.ttf") format("truetype"); 
};
